video-ai-system/n8n/file-triggered-analysis.n8n.json
{
  "name": "File-Triggered Video Analysis",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "path": "/data/incoming/",
        "options": {
          "event": ["create"]
        }
      },
      "name": "File Watch Trigger",
      "type": "n8n-nodes-base.fileWatch",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "3f9f2a45-8e2b-4b7c-9a2d-9e8e1f0a8b3c"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/analyze",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_path",
              "value": "={{$json.path}}"
            }
          ]
        }
      },
      "name": "Submit Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e"
    },
    {
      "parameters": {
        "time": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "c2d3e4f5-a6b7-4c8d-9e0f-1a2b3c4d5e6f"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/results/{{$node[\"Submit Job\"].json.task_id}}",
        "options": {}
      },
      "name": "Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300],
      "id": "d3e4f5a6-b7c8-4d9e-0f1a-2b3c4d5e6f7g"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{$node[\"Get Result\"].json.status}}",
            "type": "string"
          },
          "conditions": [
            {
              "id": "0",
              "value1": "PENDING"
            },
            {
              "id": "1",
              "operator": "or",
              "value1": "PROCESSING"
            }
          ]
        }
      },
      "name": "Is status 'PENDING' or 'PROCESSING'?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "e4f5a6b7-c8d9-4e0f-1a2b-3c4d5e6f7g8h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{$node[\"Get Result\"].json.status}}",
            "type": "string"
          },
          "conditions": [
            {
              "id": "0",
              "value1": "SUCCESS"
            }
          ]
        }
      },
      "name": "Is status 'SUCCESS'?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 400],
      "id": "f5a6b7c8-d9e0-4f1a-2b3c-4d5e6f7g8h9i"
    },
    {
      "parameters": {},
      "name": "Handle Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1650, 300],
      "id": "a6b7c8d9-e0f1-4a2b-3c4d-5e6f7g8h9i0j"
    },
    {
      "parameters": {},
      "name": "Handle Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1650, 500],
      "id": "b7c8d9e0-f1a2-4b3c-4d5e-6f7g8h9i0j1k"
    }
  ],
  "connections": {
    "File Watch Trigger": {
      "main": [
        [
          {
            "node": "Submit Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Job": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Is status 'PENDING' or 'PROCESSING'?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is status 'PENDING' or 'PROCESSING'?": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is status 'SUCCESS'?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is status 'SUCCESS'?": {
      "main": [
        [
          {
            "node": "Handle Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}
