video-ai-system/n8n/video-analysis-workflow.n8n.json
{
  "name": "Video Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-video-analysis",
        "options": {}
      },
      "name": "Start: Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/analyze",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{$json.body.video_url}}"
            }
          ]
        }
      },
      "name": "Submit Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "ASSUMPTION A-n8n-1: The API is accessible at this address. DevOps may need to adjust this."
    },
    {
      "parameters": {
        "time": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/results/{{$node[\"Submit Job\"].json.task_id}}",
        "options": {}
      },
      "name": "Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [880, 300],
      "notes": "ASSUMPTION A-n8n-1: The API is accessible at this address. DevOps may need to adjust this."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{$node[\"Get Result\"].json.status}}",
              "rightValue": "PENDING",
              "operator": "equal"
            },
            {
              "id": "1",
              "leftValue": "={{$node[\"Get Result\"].json.status}}",
              "rightValue": "PROCESSING",
              "operator": "equal",
              "conjunction": "OR"
            }
          ]
        }
      },
      "name": "Is status 'PENDING' or 'PROCESSING'?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{$node[\"Get Result\"].json.status}}",
              "rightValue": "SUCCESS",
              "operator": "equal"
            }
          ]
        }
      },
      "name": "Is status 'SUCCESS'?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 300]
    },
    {
      "parameters": {},
      "name": "Handle Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 200],
      "notes": "Placeholder for success notification logic."
    },
    {
      "parameters": {},
      "name": "Handle Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 400],
      "notes": "Placeholder for failure notification logic."
    }
  ],
  "connections": {
    "Start: Webhook Trigger": {
      "main": [
        [
          {
            "node": "Submit Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Job": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Is status 'PENDING' or 'PROCESSING'?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is status 'PENDING' or 'PROCESSING'?": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is status 'SUCCESS'?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is status 'SUCCESS'?": {
      "main": [
        [
          {
            "node": "Handle Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}
